html {
  font-size: 13px;
}

body {
  background: #0f0a0a;
  color: #fff;
  font-family: "Nunito", sans-serif;
}

p {
  font-size: 1rem;
}

.container {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 2rem 0;
  max-width: 1024px;
  margin: 0 auto;
}

.container-top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.section-content {
  width: 80%;
}

.headline {
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  font-size: 2.5rem;
  margin: 2rem 0;
}

.headline strong {
  font-weight: bold;
}

.intro {
  margin-bottom: calc(1.45rem / 2);
}

ul.topics {
  list-style: none;
  margin: 0;
  font-size: 1rem;
}

.section-cta {
  text-align: center;
}

.section-cta p {
  margin-bottom: 0.5rem;
}

.section-cta a {
  display: inline-block;
  font-weight: bold;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.2s;
  font-size: 1.25rem;
  padding: 1rem 2rem;
}

.section-cta a:hover {
  background-color: lightgrey;
  cursor: pointer;
}

ul.links {
  list-style: none;
  margin: 1rem 0;
  text-align: center;
}

ul.links li {
  display: inline-block;
  margin: 0 2rem 0 0;
}

ul.links li:last-child {
  margin-right: 0;
}

ul.links a {
  color: #fff;
  transition: 0.2s;
  font-size: 0.8rem;
}

ul.links a:hover {
  color: lightgrey;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .section-cta,
  ul.links {
    text-align: left;
  }
  .section-content {
    width: 50%;
  }
}

/* Scaling typography */
@media screen and (min-width: 500px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 620px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 720px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 17px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 19px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 22px;
  }
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 24px;
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 26px;
  }
}

@media screen and (min-width: 2200px) {
  html {
    font-size: 30px;
  }
  .container {
    max-width: 1800px;
  }
  .section-content {
    width: 80%;
  }
}
